<nav *ngIf="showMenu()" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">

    <a class="navbar-brand" routerLink="/dashboard">
      👋 Hola, {{ getUserName() }}
    </a>
    <div class="collapse navbar-collapse" id="navbarNav"> <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>

      <li class="nav-item"><a class="nav-link" routerLink="/clients">Clientes</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/products">Productos</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/metrics">Métricas</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/risk">Análisis Riesgo</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/correlation">Análisis Correlación</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/future-sales">Predicción Ventas</a></li>

      <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" routerLink="/users">Usuarios</a>
      </li>

    </ul>

      <button class="btn btn-outline-light btn-sm" (click)="logout()">
        Cerrar Sesión
      </button>

    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
